<!-- Main navbar -->
<div class="navbar navbar-inverse">
  <div class="navbar-header" style="padding-left: 15px">
    <a class="" href="/">
      <img src="assets/img/icon.png" style="width: 65px; height: auto;">
    </a>
    <ul class="nav navbar-nav visible-xs-block">
      <li>
        <a data-toggle="collapse" data-target="#navbar-mobile">
          <i class="icon-tree5"></i>
        </a>
      </li>
      <li>
        <a class="sidebar-mobile-main-toggle">
          <i class="icon-paragraph-justify3"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse" id="navbar-mobile">
    <ul class="nav navbar-nav">
      <li>
        <a class="sidebar-control sidebar-main-toggle hidden-xs">
          <i class="icon-paragraph-justify3"></i>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown language-switch">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <img width="24" src="{{selected.icon}}" class="position-left" alt=""> {{selected.name}}
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li *ngFor="let lang of cultures | async">
            <a (click)='changeLang(lang)'>
              <img width="24" src="{{lang.icon}}" alt=""> {{lang.name}}
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown dropdown-user">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <img src="assets/limitless/images/demo/users/face11.jpg" alt="">
          <span>Victoria</span>
          <i class="caret"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="#">
              <i class="icon-user-plus"></i> My profile</a>
          </li>
          <li>
            <a href="#">
              <i class="icon-coins"></i> My balance</a>
          </li>
          <li>
            <a href="#">
              <span class="badge bg-teal-400 pull-right">58</span>
              <i class="icon-comment-discussion"></i> Messages</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">
              <i class="icon-cog5"></i> Account settings</a>
          </li>
          <li>
            <a routerLink='' (click)="logout()">
              <i class="icon-switch2"></i>
              Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /main navbar -->