<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>{{this.isNew ? 'Add News Category' : 'Update News Category'}}</h2>
		</mat-card-title>
		<mat-card-subtitle></mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div class="box-container">
			<form (ngSubmit)="addOrUpdate()" #newsCategoryForm="ngForm">
				<div class="form-group">
					
          <mat-form-field class="full-width">
            <input matInput id="code" name="code" required placeholder="Code" [(ngModel)]="entity.code">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="number"  min="0" id="order" name="order" required placeholder="Order" [(ngModel)]="entity.order">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-select placeholder="{{'dashboard.newsCategory.choose'|translate}}" [(ngModel)]="entity.parentId" name="newsCategory">
              <mat-option *ngFor="let newsCategory of newsCategories" [value]="newsCategory.value">
                {{newsCategory.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-select placeholder="{{'dashboard.region.choose'|translate}}" [(ngModel)]="entity.regionId" name="region">
              <mat-option *ngFor="let region of regions" [value]="region.value" (click)="regionChange(region)">
                {{region.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-select placeholder="{{'dashboard.city.choose'|translate}}" [(ngModel)]="entity.cityId" name="city">
              <mat-option *ngFor="let city of cities" [value]="city.value">
                {{city.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-tab-group class="demo-tab-group">
						<mat-tab label="{{culture.name}}" *ngFor="let culture of cultures | async; let i = index">
							<div class="form-group">
								<mat-form-field class="full-width">
									<input matInput id="name{{i}}" name="name{{i}}"  placeholder="Name" [(ngModel)]="entity.localizations[i].name">
									<mat-error>This field is required</mat-error>
								</mat-form-field>
							</div>
						</mat-tab>
          </mat-tab-group>
				</div>
				<div class="form-group">
					<button mat-raised-button color="primary" type="submit" [disabled]="!newsCategoryForm.valid">
						{{isNew ? 'Create News Category' : 'Update Category'}}
					</button>
					<a routerLink="{{isNew ? '../' : '../../'}}" mat-raised-button color="success">Back</a>
				</div>
			</form>
		</div>
	</mat-card-content>
</mat-card>